.btn-primary{
    background-color: #357ca5 !important;
}

.btn-warning{
    background-color: #f39c12 !important;
}

.divPrimary{
    background-color: #357ca5 !important;
}

.error {
    color: #dc3545;
}

.whiteColor {
    color: white;
}


